/* Variables */
:root {
  /* colores */
  --colorPrincipal: #F37748;
  --colorSecundario: #023047;
  --resaltador: #84BCDA;
  --complementario: #fff;

  /* fuentes */
  --titulos: 'Sansita Swashed', cursive;
  --textos: 'Inter', sans-serif;
}

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD
body{
  background-image: url('./assets/imgs/fondo.jpg');
}
/* Variables */
:root {
  /* colores */
  --colorPrincipal: #f37748;
  --colorSecundario: #ffffff;
  --resaltador: #84bcda;
  --fondoFooter: #f24e1e;

  /* fuentes */

=======

h1,h2,h3,h4,h5,h6{
  font-family: var(--titulos)
>>>>>>> 1d3e92a54a904007f780a431797422280c72bff3
}

p{
  font-family: var(--textos);
}



/* NAVBAR */

.navbar {
  background-color: transparent;
  height: 100px;
  width: 100%;
  color: var(--complementario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.navbar img {
  margin: 20px 0 20px 30px;
  height: 87px;
  width: 150px;
}

<<<<<<< HEAD
  & ul {
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 30px;
    padding-left: 40px;
=======
.navbar ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 1.5rem;
  margin-right: 130px;
  padding-left: 40px;
}
>>>>>>> 1d3e92a54a904007f780a431797422280c72bff3

.navbar a {
  text-decoration: none;
  font-family: var(--titulos);
  color: var(--complementario);
}

/* Contacto */

/* Hero */
.heroContainer{
  height: 100vh;
  width: 100%;
  background-image: url(./assets/imgs/Fondo.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent{
  border: 2px solid var(--complementario);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  width: 82%;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.heroContent h1{
  color: var(--complementario);
  font-size: 80px;
  font-weight: bold;
  line-height: 100px;
}

.heroContent p{
  color: var(--complementario);
  font-size: 24px;
  font-weight: 300;
  margin-top: 40px;
  width: 70%;
}

.heroContent span{
  color: var(--colorPrincipal);
}

.heroContent button{
  border: none;
  color: var(--complementario);
  background-color: var(--colorPrincipal);
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.contactoContainer{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contactoContainerSub {
  background-color:#353230;
  color:white;
  border-radius: 15px;
  width: 98%;  
}

.infoTopContacto{
  display: flex;
  margin-top: 17px;
  gap: 100px;
  margin-bottom: 50px;
}

.tituloInfoTopContacto{
  font-size: 24px;
  font-family: sanita;
  font-family: 'Sansita Swashed', cursive;
  margin-left: 100px;
}

.redesInfoTopContacto{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.facebook{
  background-color:#2789E3;
  border-radius: 50px;
  border: 6px solid #2789E3;
  font-size: 11px;
  width: 25px;
  padding-left: 3px;
  margin-right: 15px;

}
.instagram{
  color:white;
  background-color:#E300CD;
  border-radius: 50px;
  border: 6px solid #E300CD;
  font-size: 13px;
  width: 25px;  
  margin-right: 15px;
  padding-left: 1px;
}
.whatsapp{
  color:white;
  background-color:#0DBA52;
  border-radius: 50px;
  border: 6px solid #0DBA52;
  padding-left: 1px;
  font-size: 13px;
  width: 25px;  
  margin-right: 15px;
}

.location{
  color:white;
  background-color:#FE3E3E;
  border-radius: 50px;
  border: 6px solid #FE3E3E;
  padding-left: 2px;
  font-size: 13px;
  width: 25px;  
  margin-right: 15px;

}

.botonSubmit{
  height: 56px;
  width: 118px;
  background-color: #f37748;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 50px;
  align-self: flex-end;
}

.formulario{
  font-size: 18px;
  display: flex;
  flex-direction: column;  
  height: 620px;
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 30px;
}

.contenedorDatos{
  display: flex;
  justify-content:space-between;
  gap:30px;
}
.contenedorDatos1,.contenedorDatos2,.contenedorDatos3{
  display:flex;
  flex-direction: column;
  gap:10px;
  width: 40%;
}

.contenedorDatosComent{
  display:flex;
  flex-direction: column;
  gap:10px;  
}

.contenedorDatosComent{
  margin-top: 50px;
}

.contenedorDatos1 input,.contenedorDatos2 input,.contenedorDatos3 input{
  width: 100%;
  height: 37px;
  border-radius: 5px;
  border: none;
}

.contenedorDatosComent textarea{
  width: 100%;
  height: 271px;
  border-radius: 5px;
}

.contactoFormContainer p{
  font-family: 'Sansita Swashed', cursive;
  font-size: 32px;
  margin-left: 100px;
}
/* Footer */

footer {
  background-color: var(--fondoFooter);
  height: 200px;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 25px;
}